.story-cover {
		background-image: url("https://ig.ft.com/sites/uber-in-china/media/dsc04760land-mr.jpg");
	}

.section-1 {
	.section-cover {
		background-image: url("https://ig.ft.com/sites/uber-in-china/media/dsc04760land-mr.jpg");
	}
}
.section-2 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/uber-in-china/media/dsc05225-mr.jpg");
	}

.section-3 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/uber-in-china/media/dsc05335land-mr.jpg");}

.section-4 
	.section-cover {
		background-image: url("https://ig.ft.com/sites/uber-in-china/media/dsc04862land-mr.jpg");}

.section-5
	.section-cover {
		background-image: url("../images/this_famer_2-mr.jpg");}



.story-footer {
	background-image: url("../images/conflict-mr.jpg");
}
.credits {
		background-image: url("https://ig.ft.com/sites/land-rush-investment/myanmar/media/boat-blinkie-backup-mr.jpg");
	}